<footer>
    <div class="container-fluid">
        <h3><b>Quick Links</b></h3>
        <div class="row" style="background-color: black;">
            <div style="background-color: black;" class="col"><a href="./home">Home</a></div>
            <div style="background-color: black;" class="col"><a href="./Product">Products</a></div>
            <div style="background-color: black;" class="col"><a href="./Contact">Contact</a></div>
        </div>
        <br>
        <br>
        <br>
        <div class="row" style="background-color: black;">
            <div style="background-color: black;" class="col"><a href="./home">Veg pizza</a></div>
            <div style="background-color: black;" class="col"><a href="./Product">non-veg pizza</a>
            </div>
            <div style="background-color: black;" class="col"><a href="./product">Margerita pizza</a>
            </div>
        </div>
        <br>
        <div class="row">
            <div style="background-color: black;" class="col"><a href="./up">user-policy</a></div>
            <div style="background-color: black;" class="col"><a href="./toa">Terms and Agreements</a>
            </div>
            <div class="col" style="background-color: black;"><a href="/faq">FAQ</a></div>
        </div>
        <div class="row" style="background-color: black;">
            <div class="col" style="background-color: black;">
                <h2 style=" text-align: left; color: red; background-color: black;">Address</h2>
                <p>231/41a ApecTech tower , central karomvili</p>
                <p>Bangalore,Karnataka,India</p>
            </div>
        </div>

</footer>