<header class="container" style="height: auto;">
    <div class="row" style="font-size: 70%;">
        <div
            class="col-xl-3 col-lg-4 col-md-4 col-sm-4 col-xs-4 offset-xl-0 offset-lg-0 offset-md-0  offset-sm-0 offset-4">
            <span> Pizza Paradise<img src="./img/logoIcon.png" alt="image not available"></span>
        </div>
        <div class="col-xl-5 col-lg-5 col-md-5 col-sm-5 col-xs-12 offset-xl-4 offset-lg-3 offset-md-2 offset-sm-3"
            id="links">
            <li class="nav-item">
                <a href="../home">Home</a>
            </li>
            <li class="nav-item">
                <a href="../product">Product</a>
            </li>
            <li class="nav-item">
                <a href="../about">About</a>
            </li>
            <!-- <li class="nav-item">
                <a href="../cart">Cart &#x1f6d2</a>
            </li> -->
            <li class="nav-item">
                <a href="../login">Login</a>
            </li>
        </div>

    </div>
</header>