<%- include('./Components/head.ejs') %>

    <body>
        <%- include('./Components/navbar.ejs') %>
            <br>
            <br>
            <div class="container">
                <div class="row" style="height: auto; font-size: 100%;">
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm " style="height: 30em;">
                        <img src="https://images.unsplash.com/photo-1613564834361-9436948817d1?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxleHBsb3JlLWZlZWR8MTJ8fHxlbnwwfHx8fHw%3D&auto=format&fit=crop&w=600&q=60"
                            alt="" style="height: 100%; width: 100%; border: none;">
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm " id="columns">
                        <b><i>Welcome to the mouthwatering world of our pizza paradise! At our pizza website, we pride
                                ourselves on delivering the ultimate pizza experience, where every bite is an explosion
                                of flavor and satisfaction. Prepare to embark on a gastronomic journey like no other,
                                where creativity meets tradition to create the perfect pie.Our handcrafted pizzas are a
                                labor of love, made with the finest, freshest ingredients sourced from local farmers and
                                artisans. From classic Margherita to bold BBQ chicken, our diverse menu caters to every
                                craving and culinary desire. Vegetarian or meat lover, we've got something to tantalize
                                your taste buds.</i></b>

                    </div>
                </div>
                <br>
                <div class="row" style="height: auto; font-size: 100%;">
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm order-last" style="height: 30em;">
                        <img src="https://images.unsplash.com/photo-1571407970349-bc81e7e96d47?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxleHBsb3JlLWZlZWR8MTV8fHxlbnwwfHx8fHw%3D&auto=format&fit=crop&w=600&q=60"
                            alt="" style="height: 100%; width: 100%;">
                    </div>
                    <div id="columns" class="col-xl-6 col-lg-6 col-md-6 col-sm order-first">
                        <b><i>At our pizza website, we prioritize quality, taste, and customer satisfaction above all
                                else. Our talented pizzaiolos work tirelessly to ensure that each pizza is a work of
                                art, baked to perfection in our state-of-the-art ovens.

                                Whether you're dining in with friends, grabbing a quick slice to-go, or ordering a pizza
                                party for a special occasion, our website offers a seamless online ordering experience.
                                Expect prompt delivery or easy pickup options, making your pizza indulgence even more
                                convenient.

                                Explore
                                our menu, customize your dream pizza, and savor the goodness that awaits you at our
                                pizza website. Your taste buds will thank you, and you'll never look at pizza the same
                                way again. Join us in celebrating the joy of authentic, delicious pizza!</i></b>

                    </div>
                </div>
                <br>
                <div class="row" style="height: auto; font-size: 100%;">
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm" style="height: 30em">
                        <img src="https://images.unsplash.com/photo-1571997478779-2adcbbe9ab2f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxleHBsb3JlLWZlZWR8OXx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=600&q=60"
                            alt="" style="height: 100%; width: 100%;">
                    </div>
                    <div id="columns" class="col-xl-6 col-lg-6 col-md-6 col-sm ">
                        <b><i>Indulgence awaits you at our pizza website! We've carefully crafted a menu that caters to
                                all tastes, from the traditionalists to the daring foodies. Bite into a slice of heaven
                                with every order, and savor the harmony of flavors that dance on your palate. As you
                                venture into our pizza wonderland, we invite you to sit back, relax, and let the joy of
                                our pizzas take you on a blissful journey of culinary delight.Life is too short to
                                settle for ordinary pizza. That's why our website is here to redefine your pizza
                                experience! With a commitment to excellence, we pour our passion into every pizza we
                                create, ensuring that you get nothing less than perfection on a plate. So, go ahead,
                                dive into our world of extraordinary flavors, and let your taste buds revel in the magic
                                that only our pizzas can conjure. Because at our website, every pizza is a masterpiece,
                                and every customer is a cherished member of our pizza-loving family.

                            </i></b>

                    </div>
                </div>
            </div>

            <br>
            <br>
            <button onclick="location.href='product'" style="margin-left: 50%;"><b><i>Order Now!!</i></b></button>

            <%- include('./Components/footer.ejs') %>
    </body>

    </html>