<%- include('./Components/head') %>

    <body>
        <%- include('./Components/navbar') %>
            <br>

            <div class="row" style=" height: 25em; ">
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-3" style="margin-top: 3em;">
                    <div style="margin-top: 4em;">
                        <p style="color: black; text-align: center; ">
                            <b>Craving for a Delicious Meal</b>
                        </p>
                        <p style="color: black; font-size: 1.5em; text-align: center;"><b>Don't
                                wait,</b></p>
                        <p style="color: orange; font-size: 2em; text-align: center;"><b><i>ORDER
                                    NOW!!</i></b></p>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-7"
                    style="margin-top: 3em; display: flex; flex-direction:row; justify-content: center;">
                    <img src="./img/mainLogo.jpg" alt="" style=" margin-right: 5%;">
                </div>
            </div>
            <%- include('./Components/product.ejs') %>
                <br>
                <%- include('./Components/footer.ejs') %>



    </body>

    </html>