<%- include('./Components/head.ejs') %>

    <body>
        <%- include('./Components/navbar') %>
            <%- include('./Components/product.ejs') %>
                <br>
                <%- include('./Components/footer.ejs') %>

    </body>

    </html>